@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply scroll-smooth font-poppins font-normal;
    -webkit-tap-highlight-color: transparent;
  }

  h1 {
    @apply text-5xl font-bold md:text-7xl;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  .app-section {
    @apply py-14;
  }

  /* Fonts (Always keep it at the end of the stylesheet) */
  @font-face {
    font-family: 'Mavis';
    src: url('../fonts/MAVIS-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Norsal';
    src: url('../fonts/Norsal-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Norsal';
    src: url('../fonts/Norsal-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Norsal';
    src: url('../fonts/Norsal-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
}

span.nuxt-icon svg {
  @apply m-0;
}
